
@{
    ViewData["Title"] = "Edit";
}
@model fullAttendanceData

 
<div class="card">
  <div class="card-header">
    <div class="card-title-wrap bar-success">
      <h4 class="card-title">Request A Form</h4>
    </div>
  </div>

  <div class="card-body">
    <div class="px-3">
      @*<form class="form form-horizontal">*@
        <form asp-action="SaveEdit" asp-route-id="@Model.Id" asp-controller="Attendance" method="post">

        <div class="form-body">
          <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput7">Employee Name :</label>
            <div class="col-md-9">
                <input type="text" id="projectinput7" name="budget" class="form-control" value="@Model.EmpName" readonly/>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput9">Date:</label>
            <div class="col-md-9">
              <div class="position-relative has-icon-left">
                <input type="text" id="Date" name="budget" class="form-control" value="@Model.Date.ToShortDateString()" readonly/>
                <div class="form-control-position">
                  <i class="ft-message-square"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row form-group">
              <label class="col-md-3 label-control">Start time: </label>
              <div class="position-relative has-icon-left col-lg-9">
                <input asp-for="AttendanceTime" type="time" id="timesheetinput5" class="form-control" ame="starttime" value="@Model.AttendanceTime.ToString("hh:mm:ss")"/>
                <div class="form-control-position">
                  <i class="ft-clock"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row form-group">
              <label class="col-md-3 label-control">End time: </label>
              <div class="position-relative has-icon-left col-lg-9">
                <input asp-for="AbsenceTime" type="time" id="timesheetinput6" class="form-control" ame="starttime" value="@Model.AbsenceTime.ToString("hh:mm:ss")"/>
                <div class="form-control-position">
                  <i class="ft-clock"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="form-actions">
            <button type="button" class="btn btn-danger mr-1">
              <i class="icon-trash"></i><a href="/Attendance/Index">Cancel</a>
            </button>
            <div class="btn btn-success" style="border:none; padding: 6px 12px">
              <label for="btnSubmit"><i class="icon-note"   style="color:#fff; cursor: pointer; padding: 0px; margin: 0px"></i></label>
              <input id="btnSubmit" class="btn btn-success" style="border:none;     padding: 0px; margin: 0px" type="submit" value="save"/>
            </div>

          </div>

      </form>
    </div>
  </div>


</div>
