@model IEnumerable<HRSystem.ViewModels.SalaryReportVM>

@{
    ViewData["Title"] = "Index";
}



<div>
    <div class="row">
        <label for="Name" class="col-1">Name:</label>
        <input id="myInput" type="text" class="form-control col-7 Name" placeholder="Employee Name"/>
    </div>
    <div class="row mt-2">
        <form class="form" action="/SalaryReport/ChangeMonth" style="width:100%">
        <div class="row">
            <div class="col-3">
                <select id="MonthLst" name="month" class="form-control">
                    @foreach (var month in ViewBag.MonthList)
                    { <option value="@month.Value">@month.Text</option> }
                </select>
            </div>
            <div class="col-3">
                <select id="YearsLst" name="year" class="form-control">
                    @foreach (var year in ViewBag.YearsList)
                    { <option value="@year.Value">@year.Text</option> }
                </select>
            </div>
            <div class="col-2">
                <input type="submit" class="Filter btn btn-primary form-control" value="Search"/> 
            </div>
        </div>
        </form>
    </div>

</div>

<h3>Report for: @ViewBag.CurrentDate.Month / @ViewBag.CurrentDate.Year</h3>

<table id="tblSalaryRep" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExtraTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalSalary)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExtraTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalSalary)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
        var searchBox =document.getElementById("myInput");
        searchBox.addEventListener("keyup",function()
        {
            var keyword = this.value;
            keyword = keyword.toUpperCase();
            var table_3 = document.getElementById("tblSalaryRep");
            var all_tr = table_3.getElementsByTagName("tr");
            for(var i=0; i<all_tr.length; i++){
                    var all_columns = all_tr[i].getElementsByTagName("td");
                    for(j=0;j<all_columns.length; j++){
                        if(all_columns[j]){
                            var column_value = all_columns[j].textContent || all_columns[j].innerText;
                            column_value = column_value.toUpperCase();
                            if(column_value.indexOf(keyword) > -1){
                                all_tr[i].style.display = ""; // show
                                break;
                            }else{
                                all_tr[i].style.display = "none"; // hide
                            }
                        }
                    }
                }
        })
    </script>
 }