@model IEnumerable<UserVM>
@{
    var i = 0;
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Add" class="btn btn-primary">Add New</a>
<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            
            <th>User Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
       @foreach (var user in Model)
       {
           <tr>
               
               <td>@user.UserName</td>
               <td>@user.Name</td>
               <td>@user.Email</td>
               <td>@string.Join(" , " ,user.Role.ToList())</td>
               <td>
                <a class="btn btn-primary" asp-controller="Users" asp-action="ManageRoles" asp-route-UserID="@user.Id"> Manage Roles</a>
               </td>
           </tr>
       }
    </tbody>
</table>